<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formulario GYM</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Agdasima:wght@400;700&family=Fredoka:wght@300..700&family=Lexend:wght@100..900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Space+Grotesk:wght@300..700&family=Titillium+Web:ital,wght@0,200;0,300;0,400;0,600;0,700;0,900;1,200;1,300;1,400;1,600;1,700&display=swap" rel="stylesheet"> 
  <!-- solo como css/style xq ya esta publica assets -->
  <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div id="container">
      <form action="">
        <fieldset>
          <legend>Agregar nuevo ejercicio</legend>
          <div class="input-container">
            <label for="nombre">Nombre:</label>
            <input type="text" name="nombre" id="nombre">
          </div>
          <div class="input-container">
            <label for="series">Series:</label>
            <input type="number" name="series" id="series">
          </div>
          <div class="input-container">
            <label for="repeticiones">Repeticiones:</label>
            <input type="number" name="repeticiones" id="repeticiones">
          </div>
          <div class="input-container">
            <label for="descanso">Descanso:</label>
            <input type="number" name="descanso" id="descanso">
          </div>
          <button type="submit">Agregar</button>
        </fieldset>
      </form>
    </div>

    <!-- REGISTRO RUTINAS -->
    <div>
      <h1 class="title-routine">Registro de Rutinas</h1>
      <div class="rutinas">

      </div>
    </div>
</body>
</html>