body {
    background-color: rgb(31, 98, 99);
    color: white;
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
}

#container{
    max-width: 600px;
}

.input-container {
    margin-bottom: 15px;
    margin-top: 5px;
}

.title-routine {
    text-align: center;
}

.rutina {
    display: flex;
}